/*-------------- Banner section----------- */
body {
    background-color: #4a2d2d45;
    font-family: 'Poppins', sans-serif;
}

.box {
    display: flex;
    justify-content: center;
}

.container {
    width: 1321px;
    height: 646px;
    margin-top: 50px;
    display: flex;
    /* justify-content: space-around; */
    border-radius: 20px;
    background-color: #1616165e;

}

.half-width {
    width: 50%;
    /* padding: 10%; */
    padding-left: 150px;
}

.ban {
    margin-top: 30%;
    color: aliceblue;
}

#ban1 {
    font-size: 50px;
    font-weight: 800;
}

#ban3 {
    color: white;
    font-size: 20px;
    /* font-weight: 200; */
    background-color: #DD0000;
    /* margin-top: 30px; */
    padding: 10px;
    border-radius: 2px;
    text-decoration: none;
}

.half-width img {
    width: 581px;
    height: 613px;
    padding-top: 33px;
    padding-right: 79px;

}

/* -------------- middle section -------------- */
.box-1 {
    display: flex;
    justify-content: center;
}

.container-1 {
    width: 1321px;
    height: 646px;
    margin-top: 50px;
    /* display: flex; */
    /* justify-content: space-around; */
    border-radius: 20px;
    background-color: #1616165e;
}


.toggol {
    background-color: #161616;
    position: absolute;
    width: 312px;
    height: 312px;
    /* left: 140px;
    top: 826px; */
    border-radius: 5px;
}

.togo {
    display: grid;
    justify-content: center;
    align-items: center;
    /* margin: 30px; */
}

.toggol-to {
    background-color: white;
    /* width: 252px;
    height: 64px; */
    padding: 20px 40px;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
    text-decoration: none;
}

/* -----------------?----------------- */